[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-solo = "*"
pillow = "*"
"psycopg2-binary" = "*"
requests = "*"
requests-cache = "*"
"beautifulsoup4" = "*"
natsort = "*"
"pypdf2" = "*"
redis = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.6"
